---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import { SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">

      <p>
        Welcome to my blog! I decided to write about my journey to become a better
        developer and a better human competing with me of yesterday.
        <p>
        <p> As things are moving very fast in July 2023, I woke up from my 20 years
          of procrastination and decided to inspire me and others by working on few projects, show casing and most importantly
          embody a tenacious spirit by writing down the challenges and how I surpassed them.</p>


          <figure class="max-w-screen-md mx-auto text-center mt-2">
            <svg class="w-10 h-10 mx-auto mb-3 text-gray-400 dark:text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 14">
                <path d="M6 0H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3H2a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Zm10 0h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3h-1a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Z"/>
            </svg>
            <blockquote>
                <p class="text-2xl italic font-medium  dark:text-white">"I have to compete against myself to be better than who I was yesterday"</p>
            </blockquote>
            <figcaption class="flex items-center justify-center mt-6 space-x-3">
                <img class="w-6 h-6 rounded-full" src="/images/nims.jpg" alt="Nims profile picture">
                <div class="flex items-center divide-x-2 divide-gray-500 dark:divide-gray-700">
                    <cite class="pr-3 font-medium dark:text-white">Nims Purja</cite>
                    <cite class="pl-3 text-sm  ">14 Peaks Movie</cite>
                </div>
            </figcaption>
        </figure>
      </p>
    </section>
    <section>
        <p class="mt-4 mb-4">

          To checkout more about my journey and my inspirations Please see this
          <LinkButton
            className="hover:text-skin-accent underline underline-offset-4 decoration-dashed"
            href="/posts/inspiration"
          >
            link
          </LinkButton>.

        </p>
      </section>



      <section id="current">
        <h2 class="mb-4">HUT (Humans Under Transformers) Era</h2>

      <p>The next few years from 2023 is Transformers Era. I call in HUT and the world we know has changed forever.

        We have now the ability to use the intelligence of machines
        (collective human intelligence) to solve our problems.
        We now can do more than we ever could before, thanks for the innovations in the AI and Transformers.


      </p>
      <p class="mt-4 text-xl">Are the human jobs taken over by machines?</p>

      <p class="mt-2">Absolutely Not! Read more on <LinkButton
        className="hover:text-skin-accent underline underline-offset-4 decoration-dashed"
        href="/posts/jobs-going-forward-2023"
      >
        here
      </LinkButton>. </p>


    </section>
    <section>
      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">Social Links:</div>
            <Socials />
          </div>
        )
      }
    </section>

    <Hr />
    <section> <!-- Featured Posts -->
    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured</h2>
            <ul>
              {featuredPosts.map(({ data }) => (
                <Card
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          <Hr />
        </>
      )
    }
    </section>
    <section id="recent-posts">
      <h2>Recent Posts</h2>
      <ul>
        {
          sortedPosts.map(
            ({ data }, index) =>
              index < 4 && (
                <Card
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              )
          )
        }
      </ul>
      <div class="all-posts-btn-wrapper">
        <LinkButton href="/posts">
          All Posts
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </LinkButton>
      </div>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pt-8 pb-6;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mr-2 mb-1 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pt-12 pb-6;
  }
  #featured h2,
  #recent-posts h2,
  #current h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
